*{
    text-align: center;
    border: 10px;
    
}

h1 {
    color: #e50909;
    font-size: 100px;
    font-weight: bold;
}

h2 { 
    color: #f58495;
}

body {
    background-image: url(https://cdn.20m.es/img2/recortes/2014/03/26/166159-600-338.jpg);
}

h3 {
    color: #0ccfd6;
}

.container {
    color: white;
    
}

