*{
    text-align: center;
    border: 10px;
    
}

h1 {
    color: magenta;
    font-size: 100px;
    font-weight: bold;
}

h2 { 
    color: rgb(145, 35, 130);
}

body {
    background-image: url(https://cdn.20m.es/img2/recortes/2014/03/26/166159-600-338.jpg);
}

h3 {
    color: rgb(0, 89, 255);
}

.container {
    color: white;
    
}

